html {padding: 0; margin: 0;}

/* svg {border: solid #fff 1px; } */

/*title animation code*/
/* Animation properties */
.star {
  animation: star 10s ease-out infinite;
}
.wars {
  animation: wars 10s ease-out infinite;
}
.byline span {
  animation: spin-letters 10s linear infinite;
}
.byline {
  animation: move-byline 10s linear infinite;
}

/* Keyframes */
@keyframes star {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(-0.75em);
  }
  20% {
    opacity: 1;
  }
  89% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateZ(-1000em);
  }
}

@keyframes wars {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(0.5em);
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateZ(-1000em);
  }
}

@keyframes spin-letters {
  0%, 10% {
    opacity: 0;
    transform: rotateY(90deg);
  }
  30% {
    opacity: 1;
  }
  70%, 86% {
    transform: rotateY(0);
    opacity: 1;
  }
  95%, 100% {
    opacity: 0;
  }
}

@keyframes move-byline {
  0% {
    transform: translateZ(5em);
  }
  100% {
    transform: translateZ(0);
  }
}

/* Make the 3D work on the container */
.starwars-demo {
  perspective: 800px;
  transform-style: preserve3d;
}

/* General styles and layout */
body {
  background: #000 url(//cssanimation.rocks/demo/starwars/images/bg.jpg);
}

.starwars-demo {
  height: 17em;
  left: 50%;
  position: absolute;
  top: 20%;
  transform: translate(-50%, -50%);
  width: 34em;
}

.byline span {
  display: inline-block;
}

img {
  width: 100%;
}

.star, .wars, .byline {
  position: absolute;
}

.star {
  top: -0.75em;
  height: 45%;
}

.wars {
  bottom: -0.5em;
  height: 45%;
}

.byline {
  color: #fff;
  font-family: "ITC Serif Gothic", Lato;
  font-size: 2.25em;
  left: -2em;
  letter-spacing: 0.4em;
  right: -2em;
  text-align: center;
  text-transform: uppercase;
  top: 29%;
}

/*** Media queries for adjusting to different screen sizes ***/

@media only screen and (max-width: 600px) {
  .starwars-demo {
    font-size: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .starwars-demo {
    font-size: 7px;
  }
}
/*title animaiton code done*/

.axisWhite line{
   stroke: white;
}

.axisWhite path{
   stroke: white;
   stroke-width: 2pt;
}

.axisWhite text{
   stroke: white;
}

ol{
   color: #ffffff;
}

ol li{
   list-style: none;
}

.movie-main-container{
}

.movie-banner-container{
    height: 350px;
    background-size: cover;
    background-position: 0px -300px;
    background-repeat: no-repeat;
}

.movie-title-container{
	height: 175px;
	text-align: center;
}

h1.title{
	font-family: 'Oleo Script', cursive;
	color: #ffffff;
	font-size: 44px;
	font-weight: lighter;
	margin: 0;
	padding-top: 20px;
}

p.intro{
   color: #ffffff;
   font-size: 20px;
   padding-left: 20px;
   padding-right: 20px;
}

.movie-visualization-container{
	/* background-color: #00001a; */
	background-color: #000000;
	padding-bottom: 20px;
   width: 100%;
   float: left;
}

.inner-left-container{
	width: 35%;
   float: left;
   padding-left: 5%;
}

.inner-right-container{
	padding-top: 55px;
	width: 60%;
   float: right;
}

.inner-left-container h3{
	color: #ffffff;
}

.inner-left-container h3.second{
	margin-top: 50px;
}

ul{
	padding-left: 0;
}

ul li{
	list-style: none;
	margin-bottom: 15px;
	color: #ffffff;
}

button{
	background-color: #F6821F;
	color: #fff;
	height: 40px;
	padding: 5px;
	width: 250px;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
   	font-size: 18px;
   	border: 0;
	box-shadow:none;
	border-radius: 0px;
}

button:hover, button:focus{
	background-color: #f5780a;
	cursor: pointer;
}

button.view-graph-btn{
	margin-top: 30px;
   height: 80px;
}

p#movieName{
   color: #ffffff;
   margin-top: 0;
}

/* color scale 1:; blue - #1E409A, reddish - #EE3F3C, light green - #70BE44 
color scale 2: dark blue - #000066, yellow - #F0D201, orange - #F6821F
*/

/* chosen multiselect dropdown styles */

.chosen-container{
   width: 234px !important;
}

.chosen-container-multi, .chosen-choices{
   background-image: none !important;
   background-color: #F6821F !important;
   border: none !important;
   height: 40px;
   padding-left: 6px;
}

.chosen-choices{
   padding-top: 6px !important;
   font-size: 16px;
   height: 40px !important;
   overflow-y: auto !important;
}

.chosen-container .chosen-drop{
   left: 0;
   background-color: #F6821F;
   font-size: 16px;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"]{
   color: #ffffff;
}
/* chosen multiselect dropdown styles */

/* select dropdown styles */
.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 40px;
   overflow: hidden;
   width: 240px;
   margin-bottom: 20px;
}

.styled-select#genreSelect, .styled-select#genreSelect select{
   /* height: 40px; */
}

.styled-select select {
   background: transparent;
   border: none;
   font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
   font-size: 18px;
   height: 40px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}

.rect-square {
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
}

/* -------------------- Color: Background */
.orange  { background-color: #F6821F; }

/* -------------------- Colors: Text */
.orange select  { color: #fff; }
.orange select option  {background-color: #F6821F;}


/* -------------------- Select Box Styles: danielneumann.com Method */
/* -------------------- Source: http://danielneumann.com/blog/how-to-style-dropdown-with-css-only/ */
#mainselection select {
   border: 0;
   color: #EEE;
   background: transparent;
   font-size: 20px;
   font-weight: bold;
   padding: 2px 10px;
   width: 378px;
   *width: 350px;
   *background: #58B14C;
   -webkit-appearance: none;
}

#mainselection {
   overflow:hidden;
   width:350px;
   -moz-border-radius: 9px 9px 9px 9px;
   -webkit-border-radius: 9px 9px 9px 9px;
   border-radius: 9px 9px 9px 9px;
   box-shadow: 1px 1px 11px #330033;
   background: #58B14C url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
}


/* -------------------- Select Box Styles: stackoverflow.com Method */
/* -------------------- Source: http://stackoverflow.com/a/5809186 */
select#soflow, select#soflow-color {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
}

select#soflow-color {
   color: #fff;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
   background-color: #779126;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   padding-left: 15px;
}

/* checkbox styles */
input[type=checkbox].css-checkbox {
	position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:40px;
	height:30px; 
	display:inline-block;
	line-height:30px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:18px;
	vertical-align:middle;
	cursor:pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -30px;
}
label.css-label {
	background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_9e0be0d3c50aa15eb49cfd5afdebcc01.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* tooltip styles */
div.tooltip {  
    position: absolute;       
    text-align: center;       
    width: 100px;              
    height: auto;             
    padding: 5px;          
    font-size: 14px;    
    background: white;  
    border: 0px;     
    border-radius: 4px;       
}
.movie-legend{
   font-size: 12px;
   font-style: italic;
}
/* tooltip styles */

/* media queries */
@media screen and (max-with: 900px and min-width: 300px){
   .movie-banner-container{
      height: 100%;
      background-position: 0px 60%;
   }
}